.footer {
	display: grid;
	background-color: rgba(27, 27, 27, 0.9);
	padding: 3rem;
	grid-template-columns: min-content 1fr;
	column-gap: 5rem;
	row-gap: 7rem;

	&__logo {
		display: flex;
		align-items: center;
		gap: 1rem;

		img {
			height: 12rem;
		}
		a {
			font-size: 3rem;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-text-light;
			transition: color 0.2s ease;

			&:hover {
				color: $color-primary;
			}

			span {
				color: $color-primary;
			}
		}
	}

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4rem;
		justify-self: center;
	}

	&__list-item {
		&:not(:last-child) {
			border-right: 1.5px solid rgba($color-primary-light, 0.4);
			padding-right: 3rem;
		}
	}

	&__link {
		text-decoration: none;
		font-size: 1.8rem;
		color: $color-text-light;
	}
}

.copyright {
	grid-column: 1/-1;
	font-size: 1.6rem;
	font-weight: 400;
	color: $color-text-light;
	justify-self: center;
}
